@font-face {
    font-family: "butPen";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Light.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "butPen";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Medium.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "butPen";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/butPen/butPen-Bold.ttf") format("truetype");
    font-display: swap;
} 
.butPen {
    font-family: "butPen";
}
.butPen300 {
    font-family: "butPen";
    font-weight: 300;
}
.butPen500 {
    font-family: "butPen";
    font-weight: 500;
}
.butPen700 {
    font-family: "butPen";
    font-weight: 700;
}